* {
	font-family: raleway, sans-serif;
	color: navy;

	}

body {
	/*background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/0f/Nature_landscape_ukraine_poltava_(8093168012).jpg');*/
	background-image: url("../img/Spa background2.jpg");
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  /*	width: 100%;
  	height: 100%;*/
  	}

.blureffect {
	background-color: rgba(225,225,225,.25);
}
header {
	width: 100%;
	font-size: 2em;
	/*float: left;*/
}

.menu {	
	float: left;
	margin-top: 5%;
	margin-left: 5%;
}

h1 {
	
	/*float: left;*/
	/*width: 100%;*/
	/*margin-top: -.5%;*/
	/*position: absolute;*/
	margin: 0 auto;
	margin-right: 18%;
	text-align: center;
}

.timeforabreak {
		display:none;
	}

nav {
	clear: both;
	/*width: 50%; 
	height: 30px;*/*/
	text-align: center;
	background-color: rgba(192,192,192,.5);
	/*margin-right: 25%;
	margin-left: 30%;*/
	margin: 0 auto;
	max-width: 500px;
}

nav ul {
	width: 100%;
	padding-top: 5px;
	padding-left: 0px;
	height: 30px;
	text-align: center;
}

 nav li {
 	width: 100%;
	display: inline;
	padding: 1% 5% 0 5%;
	height:50px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    }


nav li:hover {
	background: rgba(150,150,150,.5);
    color: #fff;
}

nav a:link {
	text-decoration: none;
}

nav a:visited {

}
nav select {
	display:none;
}

.credits {
	color: white;
	background: black;
}

.content {
	margin-top: 5%;

}

.content ul {
	/*width: 75%;*/
}
.content li {
	list-style: none;
}
	
.content input[type=checkbox] {
	display: none;
}

.desc_wrapper {
	float:left;
	width: 75%;
	background-color: rgba(254,254,254,.5);


}
.contenthide label{
	font-size: 1.25em;
	float: left;
}
.desc {
	padding-bottom: 2%;
	font-size: .75em;
	max-width: 75%;

}

.sidebar {
	float: left;
	background-color: rgba(192,192,192,.5);
	border-radius: 5px;
	text-align: left;
	-webkit-padding-start: 10px;
	padding-bottom: 15px;
	padding-right: 12px;
	padding-left: 15px;
	margin: 2%;
}
/*footer {
	vertical-align: bottom;
	text-align: center;
}*/

.logo {
	/*fill: rgb(192,192,192);*/
	margin-top: -50px;
	fill: navy;
	width: 150px;
	height: auto;
}

.massageicon {
	width: 50px;
	height: 50px;
	fill: navy;
	padding-right: 7px;
}

.calicon {
	fill: navy;
	width: 50px;
	height: 38px;
	
}

.icon {
	fill: rgb(192,192,192);
	width: 50px;
	height: 50px;
}

.icons {
	float: left;
}
section {
	padding-left: 5px;
	padding-bottom: 5px;
	margin-left: 10%;
	text-align: left;
}

footer {
  clear:both;
  margin: 0 auto;
}
.footer-1 {
  /*background-color: #CCC; */
  min-height: 100px;
  margin: 0 auto;
}
.nav-footer {
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.nav-footer li {
  display: inline-block;
}
.footer-2 {
  background-color: rgba(225,225,225,.5);
  min-height: 75px;
  margin: 0 auto;
}

.footer-2 p {
  text-align: center;
  padding-left: 40px;
}

/**********************************************************************
Media Queries
***********************************************************************/

@media screen and (max-width:500px) {
	.icons {
		clear: both;
		float: left;
		padding-bottom: 2px;
	}
	h1 {
		margin-right: 25%;
		margin-left: 25%;
		/*float: left;
		margin-left: 5%;*/
		font-size: 1.5em;
	}
	.logo {
		margin-top: 0px;
		width: 100px;
		height: auto;
	}
	.timeforabreak {
		display:show;
	}

	.menu {
		float: left;
		margin-left: 35%;
		/*width:10%;
		height:10%;*/
		/*content: url('../img/menu.svg');*/
		
}
	nav select {
		position: absolute;
		top: 10px;
		right: 10px;
		display: inline-block;
		float: right;
		margin-right: 10px;
	}

	nav ul {
		display: none;
	}

.content ul {
	padding-left: 5px;
}
.contenthide label {
	margin-left: 5%;
	font-size: .55em;
}

li .contenthide + input[type=checkbox] + ul > li
         {
            display: none;   
          }    

li .contenthide + input[type=checkbox]:checked + ul > li
         {
           display: block; 
}

.sidebar {
	clear: both;
	margin-right: 5%;
	margin-left: 20%;
	display: inline;
	padding-bottom: 15px;
	
}

.massageicon {
	width: 40px;
	height: 40px;
	fill: navy;
	padding-right: 7px;
}

.calicon {
	fill: navy;
	width: 40px;
	height: 28px;
	
}

.icon {
	margin-top: 5%;
	fill: navy;
	width: 40px;
	height: 40px;
}

.icons {

}
section {
	padding-bottom: 20px;
	width: 100%;

}

.desc_wrapper {
	margin-left: 18%;
 }