* {
	font-family: raleway, sans-serif;
	color: white;

	}

body {
	background-image: url('http://upload.wikimedia.org/wikipedia/commons/0/0f/Nature_landscape_ukraine_poltava_(8093168012).jpg');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
  	width: 100%;
  	height: 100%;
  	}

header {
	width: 100%;
	font-weight: 700;
	font-size: 2em;
	float: left;
}

.menu {	
	float: left;
	margin-top: 1%;
	margin-left: 5%;
	color: white;
	fill: white;
}

h1 {
	width: 100%;
	margin-top: -.5%;
	margin-left: -5%;
	margin-right: 5%;
	text-align: center;	
}

.timeforabreak {
		display:none;
	}

nav {
	clear: both;
	/*margin-left: 15%;
	width: 50%; 
	height: 30px;*/
	text-align: center;
	background-color: rgba(192,192,192,.5);
	margin-right: auto;
	margin-left: auto;
	max-width: 500px;
	
	
	
}

nav ul {
	padding-top: 5px;
	height: 30px;
}

 nav li {
	display: inline;
	padding: 1% 1% 0 1%;
	height:30px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    }


nav li:hover {
	background: rgba(150,150,150,.5);
    color: #fff;
}
select {
	display:none;
}

.credits {
	color: white;
	background: black;
}

.content {
	margin-top: 5%;
}

.content li {
	list-style: none;
}
	
.content input[type=checkbox] {
	display: none;
}

.contenthide {
	font-size: 1.25em;
}
.desc {
	padding-bottom: 2%;
}
footer {
	vertical-align: bottom;
	text-align: center;
}

.massageicon {
	width: 50px;
	height: 50px;
	fill: white;
	padding-right: 7px;
}

.calicon {
	fill: white;
	width: 50px;
	height: 38px;
	
}

.icon {
	fill:white;
	width: 50px;
	height: 50px;
}

.icons {
	float: left;
}
section {
	padding-left: 5px;
	margin-left: 6%;
	text-align: left;
}
@media screen and (max-width:500px) {
	h1 {
		margin-left: 15%;
		float: left;
		font-size: 1.0em;
	}
	.timeforabreak {
		display:show;
	}
	.menu {
		float: left;
		width:10%;
		height:10%;
		/*content: url('../img/menu.svg');*/
		
}
	select {
		display: inline-block;
		float: right;
	}

	nav ul {
		display: none;
	}

.contenthide label {
	margin-left: 5%;
}
li .contenthide + input[type=checkbox] + ul > li
         {
            display: none;   
          }    

li .contenthide + input[type=checkbox]:checked + ul > li
         {
           display: block; 
}

